body {
    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
}

.header {
    background-color: #00bfa5;
    height: 28vh; 
    width: 100%; 
}

.header-img-wpp {
    display: flex;
    flex-direction: row;
    padding-top: 28px;
    margin-left: 32vh;
}

.header .header-img-wpp img {
   width: 39px; 
   padding: 0 15px;
}

.header h1 {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
}

.bg-black {
    background-color: #090e11;
    height: 72vh;
    width: 100%;
}

.section {
    z-index: 999;
    background-color: white;
    width: 55%;
    position: absolute;
    margin: 130px auto 80px auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 64px 60px 110px;
    border-radius: 3px;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.2);
    display: flex;
}


.section .content-main h2 {
    font-size: 28px;
    font-weight: 300;
    line-height: normal;
    color: #525252;
    margin: 0 0 52px 0;
}

.section .content-main ol li {
    font-size: 18px;
    line-height: 28px;
    color: #4a4a4a;
    margin-left: -20px;
    margin-top: 18px;
}

.section .qrcode {
    display: flex;
    flex-direction: column;
}

.section .qrcode img {
    max-width: 264px;
}


.section .qrcode .input-checkbox {
    margin: 0 auto;
}

.section .qrcode label {
    font-size: 14px;
    color: #00000073;
}

strong {
    font-weight: 600;
}

a {
    color: #009688;
    font-size: 14px;
    text-decoration: none;
}